<div class="container">
  <h1>Negocios Activos</h1>
  <ul>
    <% @deals.each do |d| %>
      <li>
        <%= d.ecid  %> -
        <%= d.legal_state_dinamia  %> -
        <%= d.legal_state.name  %>
      </li>
    <% end %>
  </ul>
</div>
